

header {
    background-color: var(--primary-color);
    padding: 20px;

}

nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav a {
    color: var(--text-color);
    margin: 0 10px;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: var(--secondary-color);
    color:black;
    border-radius: 20px;
} 