<div>
     <form class="formulario">
        <label for="name">Name:
            <input type="text" id="name" [(ngModel)]="contacto.name" name="name" placeholder="Ingresa el nombre" required>
        </label>
        <label for="phone">Phone:
               <input type="tel" id="phone" [(ngModel)]="contacto.phone" name="phone" placeholder="Ingresa el teléfono" required>
        </label>
        <label for="email">Email:
            <input type="email" id="email" [(ngModel)]="contacto.email" name="email" placeholder="Ingresa el email" required>
         </label>
         <button type="submit" class="boton" (click)="guardarContacto()">Guardar Contacto</button>
         <br>
         <ul>
            <li *ngFor="let contacto of contactos">
              {{ contacto.name }} - {{ contacto.phone }} - {{ contacto.email }}
            </li>
            <li *ngIf="contactos.length === 0">No hay contactos guardados.</li>
         </ul>
     </form>
</div>