footer {
    text-align: center;
}

h4 {
    background-color: var(--primary-color);
    padding: 20px;
    font-weight: 400;
    color: var(--text-color);
    font-family: 'Times New Roman', Times, serif;
}



